:root {
  --primary-color-100: #f2f7f7;
  --primary-color-200: #4a9292;
  --primary-color-300: #046865;
  --dark-blue: #03045e;
  --red: #d62246;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.gpa-calculator {
  background-color: var(--primary-color-100);
  width: fit-content;
  margin: auto;
  padding: 5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-blue);
}

.settings {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 2rem;
}

.settings:active {
  animation: gearRotate 1s ease-in-out;
}

@keyframes gearRotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.semester {
  background-color: #fff;
  width: fit-content;
  margin: 30px auto;
  padding: 30px;
}

h2 {
  color: var(--dark-blue);
}

table {
  width: fit-content;
  margin: auto;
  text-align: left;
  border-spacing: .7rem .7rem;
}

tbody {
  width: 100%;
}

th {
  color: var(--primary-color-300);
}

input {
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--primary-color-100);
  color: var(--primary-color-200);
  border-bottom: 2px solid #fff;
}

input::placeholder {
  color: rgba(74, 146, 146, 0.5);
}

input::-webkit-input-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

input::-moz-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

input:-moz-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

input:-ms-input-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

input:focus {
  border-bottom: 2px solid var(--primary-color-200);
}

select {
  padding: 9px;
  border: none;
  outline: none;
  background-color: var(--primary-color-100);
  color: var(--primary-color-200);
  border-bottom: 2px solid #fff;
}

select:focus {
  border-bottom: 2px solid var(--primary-color-200);
}

select:required:invalid {
  color: rgba(74, 146, 146, 0.5);
}

option[value=''][disabled] {
  display: none;
}

option {
  color: var(--primary-color-200);
}

option:hover{
    background-color: var(--primary-color-300);
}

.delete-course {
  border: none;
  background-color: transparent;
  color: var(--primary-color-200);
  font-size: 1rem;
}

.actions {
  display: table;
  margin: auto;
  margin-top: 20px;
}

.button {
  border: 2px solid #fff;
  color: #fff;
  outline: none;
  padding: 7px 20px;
}

.button:focus {
  border: 2px solid rgb(0, 0, 0);
}

.add-course {
  background-color: var(--primary-color-300);
  margin-right: 10px;
}
.clear-all {
  background-color: var(--red);
  margin-right: 10px;
}
.calculate {
  background-color: var(--dark-blue);
}
.add-a-semester {
  background-color: var(--primary-color-300);
  display: block;
  margin: auto;
}
