$primary-color-100: #f2f7f7;
$primary-color-200: #4a9292;
$primary-color-300: #046865;
$dark-blue: #03045e;
$red: #d62246;
$margin-bottom: 2rem;
$margin-bottom-mid: .5rem;
$button-padding: 0.5rem 1.5rem;

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.calculator {
    background-color: $primary-color-100;
    width: fit-content;
    margin: 2rem auto;
    padding: 2rem;

    &-title {
        color: $dark-blue;
        font-size: 2rem;
        margin-bottom: $margin-bottom;
    }

    .semester {
        background-color: #fff;
        padding: 2rem;
        margin-bottom: $margin-bottom;
        position: relative;

        &-delete{
            position: absolute;
            top: .1rem;
            right: 1rem;
            background-color: rgba(255, 255, 255, 0);
            color: $dark-blue;
            border: none;
            font-size: 2.5rem;
            visibility: hidden;

            &:hover{
                transform: scale(1.1);
            }

            &:active{
                transform: scale(.9);
            }
        }

        &-title {
            font-size: 1.5rem;
            color: $dark-blue;
            margin-bottom: $margin-bottom-mid;
        }

        &-content {
            margin-bottom: $margin-bottom-mid;

            .course-row {
                display: grid;
                grid-template-columns: [cols-start] auto [cols-one] auto [cols-two] auto [cols-three] auto [cols-end];
                grid-template-rows: [rows-start] auto [rows-one] auto [rows-end];
                column-gap: 1rem;
                row-gap: .5rem;
            }

            .course-name {
                width: 13rem;
            }

            .credits {
                width: 5rem;
            }

            input,
            select {
                font-size: 1rem;
                padding: .5rem 1rem;
                border: none;
                outline: none;
                border-bottom: 2px solid #fff;
                background-color: $primary-color-100;
                color: $primary-color-300;

                &:focus {
                    border-bottom: 2px solid $primary-color-200;
                }
            }

            input {
                &::placeholder {
                    color: rgba(74, 146, 146, 0.5);
                }
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0;
                /* <-- Apparently some margin are still there even though it's hidden */
            }

            input[type=number] {
                -moz-appearance: textfield;
                /* Firefox */
            }

            select {
                padding: .45rem 1rem;

                &:required:invalid {
                    color: rgba(74, 146, 146, 0.5);
                }
            }

            option[value=''][disabled] {
                display: none;
            }

            option {
                color: $primary-color-200;
            }

            option:hover {
                background-color: var(--primary-color-300);
            }

            .delete-course {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1rem;
                color: $primary-color-300;

                &:hover,
                &:active,
                &:focus {
                    color: $red;
                }
            }
        }

        &-actions {
            width: fit-content;
            margin: auto;
            display: flex;

            &-button {
                background-color: transparent;
                border: none;
                font-size: 1rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;

                i {
                    font-size: 1rem;
                    margin-right: 0.5rem;
                }

                &:focus {
                    outline: none;
                    font-weight: 700;
                }
            }

            .add-course {
                color: $primary-color-300;
            }

            .clear-all {
                color: $red;
            }
        }
    }

    &-actions {
        width: fit-content;
        margin: auto;
        display: flex;

        &-button {
            border: none;
            padding: $button-padding;
            color: #fff;
            font-size: 1rem;
            width: 10rem;

            &:focus {
                outline: 0.2rem solid;
            }
        }

        .calculate {
            background-color: $primary-color-300;
            margin-right: 1rem;
        }

        .add-semester {
            background-color: $dark-blue;
        }

        &.two{
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .calculator {
        .semester {
            padding-right: .7rem;

            &-content {
                .course-row {
                    display: grid;
                    grid-template-columns: [cols-start] auto [cols-one] auto [cols-two] auto [cols-end];
                    grid-template-rows: [rows-start] auto [rows-one] auto [rows-end];
                    column-gap: .7rem;
                    row-gap: .5rem;
                    margin-bottom: $margin-bottom;

                    &-item-one {
                        grid-column: cols-start/cols-two;
                        width: auto;
                    }

                    &-item-two {
                        grid-column: cols-start/cols-one;
                        grid-row: rows-one/rows-end;
                    }

                    &-item-three {
                        grid-column: cols-one/cols-two;
                        grid-row: rows-one/rows-end;
                        justify-self: end;
                    }

                    &-item-four {
                        grid-column: cols-two/cols-end;
                        grid-row: rows-start/rows-end;
                        width: auto;
                    }

                }

            }

            &-actions {
                .add-course {
                    justify-content: start;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .calculator {
        .semester {
            padding-right: 1rem;
            
            &-content {
                .course-row {
                    display: grid;
                    grid-template-columns: [cols-start] 12rem [cols-one] 10px [cols-end];
                    grid-template-rows: [rows-start] 1fr [rows-one] 1fr [rows-two] 1fr [rows-end];
                    column-gap: .5rem;
                    row-gap: .5rem;

                    &-item-one {
                        grid-column: cols-start/cols-one;
                        grid-row: rows-start/rows-one;
                    }

                    &-item-two {
                        grid-column: cols-start/cols-one;
                        grid-row: rows-one/rows-two;
                    }

                    &-item-three {
                        grid-column: cols-start/cols-one;
                        grid-row: rows-two/rows-end;
                        justify-self: stretch;
                        width: auto;
                    }

                    &-item-four {
                        grid-column: cols-one/cols-end;
                        grid-row: rows-start/rows-end;
                    }

                }
            }

            &-actions {
                flex-direction: column;
                margin: 0;
                margin-top: $margin-bottom;

                .clear-all {
                    margin-top: 10px;
                    justify-content: start;
                }
            }
        }

        &-actions {
            flex-direction: column;
            align-items: center;

            .calculate{
                margin-right: 0px;
            }

            .add-semester {
                margin-top: 10px;
            }
        }
    }
}

.semester-gpa-ui{
    font-size: 1.1rem;
    width: 97%;
    color: $dark-blue;
    text-align: right;
    display: none;

    .semester-title{
        font-size: 1.1rem;
    }

    .semester-gpa{
        font-weight: 500;
    }

    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
    }
}

.overall-gpa-ui{
    display: none;
    justify-content: space-between;
    background-color: $primary-color-300;
    color: $primary-color-100;
    padding: 1rem 2rem;
    margin-bottom: $margin-bottom;
    font-size: 1.2rem;
}