* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator {
  background-color: #f2f7f7;
  padding: 2rem;
}

.calculator-title {
  color: #03045e;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.calculator .semester {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
}

.calculator .semester-title {
  font-size: 1.5rem;
  color: #03045e;
  margin-bottom: 0.5rem;
}

.calculator .semester-content {
  margin-bottom: 0.5rem;
}

.calculator .semester-content .course-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [cols-start] auto [cols-one] auto [cols-two] auto [cols-three] auto [cols-end];
      grid-template-columns: [cols-start] auto [cols-one] auto [cols-two] auto [cols-three] auto [cols-end];
  -ms-grid-rows: [rows-start] auto [rows-one] auto [rows-end];
      grid-template-rows: [rows-start] auto [rows-one] auto [rows-end];
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: .5rem;
  margin-bottom: 1rem;
}

.calculator .semester-content .course-row:last-child {
  margin-bottom: 0;
}

.calculator .semester-content .course-name {
  width: 13rem;
}

.calculator .semester-content .credits {
  width: 5rem;
}

.calculator .semester-content input,
.calculator .semester-content select {
  font-size: 1rem;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  background-color: #f2f7f7;
  color: #046865;
}

.calculator .semester-content input:focus,
.calculator .semester-content select:focus {
  border-bottom: 2px solid #4a9292;
}

.calculator .semester-content input::-webkit-input-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

.calculator .semester-content input:-ms-input-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

.calculator .semester-content input::-ms-input-placeholder {
  color: rgba(74, 146, 146, 0.5);
}

.calculator .semester-content input::placeholder {
  color: rgba(74, 146, 146, 0.5);
}

.calculator .semester-content input::-webkit-outer-spin-button,
.calculator .semester-content input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.calculator .semester-content input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.calculator .semester-content select {
  padding: .45rem 1rem;
}

.calculator .semester-content select:required:invalid {
  color: rgba(74, 146, 146, 0.5);
}

.calculator .semester-content option[value=''][disabled] {
  display: none;
}

.calculator .semester-content option {
  color: #4a9292;
}

.calculator .semester-content option:hover {
  background-color: var(--primary-color-300);
}

.calculator .semester-content .delete-course {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #046865;
}

.calculator .semester-content .delete-course:hover, .calculator .semester-content .delete-course:active, .calculator .semester-content .delete-course:focus {
  color: #d62246;
}

.calculator .semester-actions {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculator .semester-actions-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
}

.calculator .semester-actions-button i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.calculator .semester-actions-button:focus {
  outline: none;
  font-weight: 700;
}

.calculator .semester-actions .add-course {
  color: #046865;
}

.calculator .semester-actions .clear-all {
  color: #d62246;
}

.calculator-actions {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculator-actions-button {
  border: none;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  width: 10rem;
}

.calculator-actions-button:focus {
  outline: 0.2rem solid;
}

.calculator-actions .calculate {
  background-color: #046865;
  margin-right: 1rem;
}

.calculator-actions .add-semester {
  background-color: #03045e;
}

@media (max-width: 768px) {
  .calculator .semester-content .course-row-item-one {
    grid-column: cols-start/cols-three;
    width: auto;
  }
  .calculator .semester-content .course-row-item-two {
    grid-column: cols-start/cols-two;
    grid-row: rows-one/rows-end;
  }
  .calculator .semester-content .course-row-item-three {
    grid-column: cols-two/cols-three;
    grid-row: rows-one/rows-end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .calculator .semester-content .course-row-item-four {
    grid-column: cols-three/cols-end;
    grid-row: rows-start/rows-end;
    width: auto;
  }
  .calculator .semester-actions .add-course {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .calculator-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculator-actions .add-semester {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */